<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ace_Clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>King_Clubs.png</key>
            <dict>
              <key>frame</key>
                <string>{{1680,0},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1680,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Queen_Clubs.png</key>
            <dict>
              <key>frame</key>
                <string>{{1540,0},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1540,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Jack_Clubs.png</key>
            <dict>
              <key>frame</key>
                <string>{{1400,0},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1400,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Ten_Clubs.png</key>
            <dict>
              <key>frame</key>
                <string>{{1260,0},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1260,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Nine_Clubs.png</key>
            <dict>
              <key>frame</key>
                <string>{{1120,0},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1120,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>spritesheet.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{780,1820}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,1820}}</string>
                <key>sourceSize</key>
                <string>{780,1820}</string>
            </dict>
            <key>Ace_Spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,585},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,585},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>King_Spades.png</key>
            <dict>
              <key>frame</key>
                <string>{{1680,585},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1680,585},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Queen_Spades.png</key>
            <dict>
              <key>frame</key>
                <string>{{1540,585},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1540,585},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Jack_Spades.png</key>
            <dict>
              <key>frame</key>
                <string>{{1400,585},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1400,585},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Ten_Spades.png</key>
            <dict>
              <key>frame</key>
                <string>{{1260,585},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1260,585},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Nine_Spades.png</key>
            <dict>
              <key>frame</key>
                <string>{{1120,585},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1120,585},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
                       <key>Ace_Hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,390},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>King_Hearts.png</key>
            <dict>
              <key>frame</key>
                <string>{{1680,390},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1680,390},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Queen_Hearts.png</key>
            <dict>
              <key>frame</key>
                <string>{{1540,390},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1540,390},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Jack_Hearts.png</key>
            <dict>
              <key>frame</key>
                <string>{{1400,390},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1400,390},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Ten_Hearts.png</key>
            <dict>
              <key>frame</key>
                <string>{{1260,390},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1260,390},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Nine_Hearts.png</key>
            <dict>
              <key>frame</key>
                <string>{{1120,390},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1120,390},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
                       <key>Ace_Diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,195},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,195},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>King_Diamonds.png</key>
            <dict>
              <key>frame</key>
                <string>{{1680,195},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1680,195},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Queen_Diamonds.png</key>
            <dict>
              <key>frame</key>
                <string>{{1540,195},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1540,195},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Jack_Diamonds.png</key>
            <dict>
              <key>frame</key>
                <string>{{1400,195},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1400,195},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Ten_Diamonds.png</key>
            <dict>
              <key>frame</key>
                <string>{{1260,195},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1260,195},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>Nine_Diamonds.png</key>
            <dict>
              <key>frame</key>
                <string>{{1120,195},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1120,195},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:873706d2c1ad9f5b33d90eefda3a7084$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>